<!DOCTYPE html>
<html>
<body>
<h1>Welcome to the Nested Forms Lab!</h1>
<form method="post" action="/pirates">
  <h3><label for="pirate">Pirate:</label></h3>
  <p>Name: <input type="text" name="pirate[name]"></p>
  <p>Weight: <input type="text" name="pirate[weight]"></p>
  <p>Height: <input type="text" name="pirate[height]"></p>
  <h3><label for="ship_1">First Ship:</label></h3>
  <p>Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
  <p>Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
  <p>Booty Attributes: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
   <h3><label for="ship_2">Second Ship:</label></h3>
  <p>Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
  <p>Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
  <p>Booty Attributes: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
  <input type="submit" value="Submit">
</form>
</body>
</html>
